<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
	  <section name="application" type="TM1.Configuration.ApplicationHandler, Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null "/>
	  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
	
	<application locale="en-GB">
		<settings>

			<setting key="Url_ServerRoot" value="http://comms.ticketer.org.uk" />
      <setting key="UseSSLComms" value = "false" />
      <setting key="UseSSLCommsRealTime" value = "false" />
      <setting key="UseSSLWebService" value = "false" />
            
      <setting key="KVSDbFilename" value="\Storage Card\TM2.db" />

			
			<setting key="LaunchWatchdog" value="true" />
			<setting key="WatchdogArgs" value="180" />

			<setting key="PowerBatteryThresholds" value = "6700,7000,7300,7500,7800" />

		</settings>
	</application>

	<log4net>

    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="/Storage Card/Logs/TM1/BootLoader.txt" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMddHH" />
      <maxSizeRollBackups value="50" />
      <!--should never be reached, as we roll on date too-->
      <maximumFileSize value="250000" />
      <!--keep in mind the zip of this needs to be uploaded in one go-->
      <rollingStyle value="Composite" />
      <staticLogFileName value="false" />
      <countDirection value="1" />
      <!--we roll forward to make it less expensive-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

      <layout type="log4net.Layout.PatternLayout">
        <header value="[LogStart]&#13;&#10;"/>
        <footer value="[LogEnd]&#13;&#10;"/>
        <conversionPattern value="%property{eventDate} [%property{thread}] %-5level %property{appContext} - %message%newline" />
      </layout>
    </appender>

    <appender name="Debugger" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{eventDate} [%property{thread}] %-5level %property{appContext} - %message%newline" />
      </layout>
    </appender>
    

    <!-- Setup the root category, add the appenders and set the default level -->

    <root>
      <level value="DEBUG" />
      <appender-ref ref="Debugger" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>


