<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- do not change this file - override configs are located in \Config and should be edited on server. provide device override urls in \Intel\Common folder if needed-->

  <configSections>
    <section name="application" type="TM1.Configuration.ApplicationHandler, Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null "/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <application locale="en-GB">
    <settings>


      <setting key="DeviceLibrary" value="Viogem.dll"/>

      <setting key="KVSDbFilename" value="\Storage Card\TM2.db" />
      <setting key="KVSPersistenceKind" value="DB" />
      
      <!-- comms -->
      <setting key="AutoSenseRasConnections" value="vodafone|O2|orange|EE2|jersey|btmobile|IOM|tmobile|tesco" />
      <!-- defined in TM1 as well; here this setting is used to start modem if needed -->
      <setting key="ConnectionTypes" value="GPRS|ActiveSync" />
      <setting key="PingInterval" value="30" />
      <setting key="MaxPingFails" value="6" />
      <setting key="CommsWarningAfterMins" value="30" />
      <!-- defined in TM1 as well -->
      <setting key="PingTimeout" value="15000" />
      <!-- do not change - provide override urls in \Intel\Common folder -->
      <setting key="Url_CommsRoot" value="http://comms.ticketer.org.uk" />
      <setting key="Url_TimeEndPoint" value="/time.aspx" />
      <setting key="UseSSLComms" value = "false" />
      <setting key="UseSSLCommsRealTime" value = "false" />
      <setting key="UseSSLWebService" value = "false" />
      <setting key="TrustAllSSLCertificates" value = "false" />
      <setting key="ConnectionPurgeOnHangup" value = "false" />

      <setting key="LogSDMemoryEachNrOfSec" value="900" />
      
      <setting key="DriverMessageNotificationFlashCountIntervalMs" value="15000" />
      
      
      <!-- AVL-->
      <setting key="ExtendedLoggingAvl" value="false" />
      <setting key="PositionMaxAcceptablePdop" value = "4.2" /> <!-- also in TM1 -->
      

      <!-- to monitor TM1 freeze -->
      <setting key="AppAliveCheckTimeoutMs" value="10000" />


      <setting key="RasConnectionTimeoutSec" value="60" />
      <setting key="RasHangupTimeoutSec" value="20" />
      <setting key="RasFirstDialDelaySec" value="25" />
      <setting key="SimPin" value="" />


      <setting key="HTTPKeepAlive" value="true" />
      <setting key="HTTP11" value="false" />

      <setting key="UseHttpClientForPing" value="true" />
      <setting key="ExtendedLoggingHttpClient" value="false" />

      <setting key="Dialer" value="" />
      <setting key="DefaultATTimeout" value="10000" />
      <setting key="ExtendedATTimeout" value="25000" />
      <setting key="DirectIpDialTimeout" value="50000" />
      <setting key="DirectIpDialPause" value="12000" />
      <setting key="DirectIpDialRetries" value="2" />
      <setting key="RelyOnDialerForNetworkStatus" value="false" />
      <setting key="RelyOnDialerForNetworkStatus_TK200" value="true" />
      <setting key="RelyOnDialerForNetworkStatus_HH" value="true" />
      <setting key="DialerIpResortToRAS" value="true" />
      <setting key="AllowModemUSBPortReset" value="false" />
	    <setting key="ATRetriesPolicy" value="Auto" />
      <setting key="DialerClearRoutes" value="false" />
      <setting key="CloseCommandPortBeforeDial" value="false" />
      <setting key="CloseCommandPortAfterDial" value="false" />
      <setting key="CheckGPRSStatus" value="true" />      
		<setting key="ResetAfterNoAppConnectionMins" value="30" />
      <setting key="UseCFUNToReset" value="false" />
      <setting key="No3G" value="false" />
      <setting key="WaitForModemPortOnResume" value="true" />
      <!-- defined in TM1 as well -->
      <setting key="HangupOnSuspend" value="true" />
      <setting key="NoAppConnectionSizeThreshold" value="10000" />

      <!-- smartcard -->
      <setting key="SmartCardFunctionalityEnabled" value="true"/>
      <setting key="ShowLedMirror" value="false"/>
      <setting key="ShowPrinterStatusIcon" value="true"/>
      <setting key="ScStatusTimeoutMs" value="9000"/>


      <!-- general -->
      <setting key="EmergencyRebootEnabled" value="true" />

    </settings>
  </application>
  <log4net>

    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="/Storage Card/Logs/TM1/StatusDisplay.txt" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMddHH" />
      <maxSizeRollBackups value="50" />
      <!--should never be reached, as we roll on date too-->
      <maximumFileSize value="250000" />
      <!--keep in mind the zip of this needs to be uploaded in one go-->
      <rollingStyle value="Composite" />
      <staticLogFileName value="false" />
      <countDirection value="1" />
      <!--we roll forward to make it less expensive-->

      <layout type="log4net.Layout.PatternLayout">
        <header value="[LogStart]&#13;&#10;"/>
        <footer value="[LogEnd]&#13;&#10;"/>
        <conversionPattern value="%property{eventDate} [%property{thread}] %-5level %property{appContext} - %message%newline" />
      </layout>
    </appender>

    <appender name="Debugger" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{eventDate} [%property{thread}] %-5level %property{appContext} - %message%newline" />
      </layout>
    </appender>

<!-- 
    <appender name="Serial" type="log4net.Appender.OutputDebugStringAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger  - %message%newline" />
      </layout>
    </appender>
-->


    <!-- Setup the root category, add the appenders and set the default level -->

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
<!--      <appender-ref ref="Serial" /> -->
      <appender-ref ref="Debugger" />
    </root>
  </log4net>
</configuration>

