<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- do not change this file - override configs are located in \Config and should be edited on server. provide device override urls in \Intel\Common folder if needed-->
  <configSections>
    <section name="application" type="TM1.Configuration.ApplicationHandler, Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null "/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
<application locale="en-GB">
  <settings>

    <setting key="Url_CommsRoot" value="http://comms.ticketer.org.uk" />
    <setting key="Url_WsRoot" value="http://ws.ticketer.org.uk" />
    <setting key="Url_PortalRoot" value="http://portal.ticketer.org.uk" />
    <setting key="Url_CommsEndPoint" value="/comms.aspx" />
    <setting key="Url_TimeEndPoint" value="/time.aspx" />
    <setting key="Url_GetPublication" value="/GetPublication.ashx" />
    <setting key="UseSSLComms" value = "false" />
    <setting key="UseSSLCommsRealTime" value = "false" />
    <setting key="UseSSLWebService" value = "false" />
    <setting key="TrustAllSSLCertificates" value = "false" />
    <setting key="ConnectionPoolWarnSize" value = "4" />
    <setting key="ConnectionPoolSize" value = "100" />

    <!-- defined in SD as well; here ConnectionTypes is used to disable AS and correctly resolve online state -->
	  <setting key="ConnectionTypes" value="GPRS|ActiveSync" />
    <setting key="NoAppConnectionSizeThreshold" value="10000" />

    <!-- system -->
    <setting key="ThreadPoolExtraThreadCount" value = "20" />
    <setting key="SyncOsTimeToExtRtc" value = "true" /> <!-- BSP should be doing it, but unsure when fix is coming-->


    <!-- config -->
    <setting key="UpdatePeriodMinutes" value = "30" />

    <setting key="LogSenderFrequencySec" value = "1800" />
    <setting key="LogsMoveToPendingIfFileCountOver" value = "100" />
	  <setting key="LogCompressionLevel" value = "9" />
	  
	  <setting key="FreeMemWhenLessThanMb" value = "13" />

	  <setting key="ProvisioningUseNonSoap" value = "true" />

    <!-- backlight -->
    <setting key="GlobalScreenSaver" value = "true" />
    <setting key="backlightoff" value = "300" />
    <setting key="BacklightDimSetting" value = "50" />
    <setting key="BacklightDimSpeed" value = "10000" />
    <setting key="BacklightSensorThreshold" value = "10000" />
    <setting key="BacklightOffSetting" value = "0" />
    <setting key="ProximitySpeedThreshold" value = "" />
    <setting key="ProximityDistanceThreshold" value = "10" />
	  
	  <setting key="BacklightOnSetting" value = "100" />
	  <setting key="BacklightOnSetting_HH" value = "60" />
	  <setting key="backlightoff_HH" value = "60" />

    <setting key="EnableScreensaverOnSTS" value = "false" />
    <setting key="EnableScreensaverOnSTS_HH" value = "true" />

    <!-- power -->
	  <setting key="PowerSuspendOnIdleDelaySecs" value = "-1" />
	  <setting key="PowerSuspendOnIdleDelaySecs_HH" value = "5" />
	  <setting key="PowerSuspendOnIdleDelaySecs_HH_Powered" value = "3600" />
	  <setting key="HandheldSpeedDynamic" value = "true" />
	  <setting key="PowerSuspendOnIdleMode" value = "Battery" />
	  <setting key="PowerBatteryThresholds" value = "6700,6900,7200,7500,7800" /> <!--DW suggested numbers from emperical curve. Was 6700,6900,7200,7600-->
    <!-- in 100ms steps, max = 255. 3s = 30, 20s = 200 -->
	  <setting key="PowerBatteryCriticalPersistTime" value = "200" />
    <setting key="PowerStateAutoLogSecs" value = "120" />
    <setting key="PowerLongSuspendShutdownSecs" value = "0" />  <!-- 0 = disabled-->
    <setting key="WakeOnTouchEnabled" value = "true" />
    <setting key="HangupOnSuspend" value="true" />

	  <setting key="ShutdownAsync" value="false" />


	  <setting key="DefaultAudioVolume" value="HIGH" />
	  <setting key="AudioAmpEnabled" value="true" />

    <!-- location -->
	  <setting key="PositionCacheEnabled" value = "true" />	  
	  <setting key="PositionValidationMaxAcceleration" value = "20" />
	  <setting key="PositionValidationMaxSpeed" value = "150" />	  
	  <setting key="PositionValidatonMaxAgeSeconds" value = "20" />
    <setting key="HeadingValidationMinSpeed" value = "3.0" />
    <setting key="LocationMessageAgeLimitSecs" value="1200" />
	  <setting key="HeadingMaskDefault" value = "90" />
	  <setting key="AccelerationValidatonMaxAgeSeconds" value = "1800" />
    <setting key="LocationMinLat" value = "35" />
    <setting key="LocationMaxLat" value = "65" />
    <setting key="LocationMinLng" value = "-25" />
    <setting key="LocationMaxLng" value = "20" />
    <setting key="AvlEventFireWhenHeadingUnusable" value = "false" />
    <setting key="PositionMaxAcceptablePdop" value = "4.2" />   <!-- also in SD -->

    <!-- db -->
    <!--<setting key="db_filename" value="\Storage Card\tm1.sdf"/>
    <setting key="db_tempfile_folder" value="" />-->
    <setting key="db_flushinterval" value="1" />
    <setting key="db_autoshrink_threshold" value="100" /> <!-- disabled-->
    <setting key="SecondaryDbFilename" value="\Storage Card\TM3.db" />
    <setting key="DriverMessageDbFilename" value="\Storage Card\TM8.db" />
    <setting key="SafetyDbFilename" value="\Storage Card\TM9.db" />
    <setting key="ALDbFilename" value="\Storage Card\TM4.db" />
    <setting key="KVSDbFilename" value="\Storage Card\TM2.db" />
    <setting key="KVSPersistenceKind" value="DB" />
    <setting key="SqliteShareConnection" value="true" />
    <setting key="SqliteSecondaryDbShareConnection" value="true" />
    <setting key="SqliteRetries" value="100" />
    <setting key="SqliteRetriesDelayMs" value="2000" />
    <setting key="SqlitePragma" value=";PRAGMA automatic_index=false;" />    
    <setting key="DbVacuumThresholdMinMegs" value="0" />
    <setting key="DbVacuumThresholdMaxMegs" value="0" />
    <setting key="TicketsDbFileName" value="\Storage Card\TM7.db" />


    <!-- DI-->
    <setting key="ScreenLibrary" value="ViogemScreens.dll"/>
    <setting key="DeviceLibrary" value="Viogem.dll"/>
    
    <setting key="WantTickAllSafety" value="true" />
    <setting key="CutPerTicket" value="false" />
    
    <!-- misc hardware -->
    <setting key="IOPSUVersionOverride" value="" />
    <setting key="Ftdi_SC_LatencyTimeout" value="16"/>
    <setting key="Ftdi_Printer_LatencyTimeout" value="16"/>
    <setting key="Ftdi_Reset_Cradle_If_Unavailable" value="true" />

    <!-- punch -->
    <setting key="PunchButtonEnabled" value="true"/>
    <setting key="PunchHardwareEnabled" value="false"/>

    <!-- Trip options -->
    <setting key="AutoPopulateDepartureTime" value="false" />
    <setting key="ShowPromptDepartureTime" value="true" />
    <setting key="ShowPromptJourneyId" value="true" />

    <!-- Printer -->
    <setting key="PrinterBaud" value="Auto" />
    <setting key="PrinterType" value="Auto" />
	  <setting key="PrinterStopBits" value="One" />
    <setting key="PrinterRtsEnabled" value="false"/>	  
    <setting key="PrinterDtrEnabled" value="false"/>
    <setting key="PrinterIdsEnabled" value="true"/>
    <setting key="PrinterOfflineTimeoutSec" value="3"/>    
    <setting key="PrinterResetIfNoCTS" value="true"/>
	  <setting key="PrinterCheckOnline" value="true"/>
	  <setting key="PrinterIgnoreCtsIfFails" value="false"/>
    <setting key="PrinterBlankLinesAfterCut" value="0"/>
    <setting key="PrinterBlankLinesBeforeCut" value="4"/>
    <setting key="PrinterJustificationEnabled" value="true"/>
    <setting key="CheckPrinterAtStartup" value="false"/>
	  <setting key="PrinterTryStarFirst" value="false"/>
	  <setting key="PrinterChunkDelayMs" value="200"/>
	  <setting key="PrinterChunkDelayMs_Seiko" value="300"/>
	  <setting key="PrinterChunkSize" value="512"/>
	  <setting key="PrinterChunkSize_Seiko" value="192"/>
	  <setting key="PrinterWriteTimeout" value="10000"/>
	  <setting key="PrinterSeikoPaperKind" value="TL69KS_LH"/>
	  <setting key="PrinterIgnoreXonXoff" value="false"/>

	  <setting key="TicketWidthChars" value="Auto" />
    <setting key="TicketWidthDots" value="Auto" />

    <setting key="Printer_LogoScaling_Able" value="100"/>
    <setting key="Printer_LogoScaling_Maxatec" value="100"/>
    <setting key="Printer_LogoScaling_Seiko" value="100"/>
	  <setting key="Printer_LogoScaling_Star" value="100"/>


	  <!-- ISAM -->
    <setting key="IsamPassword" value="" /> <!-- soft: blank, otherwise requires password-->
    <setting key="UseDualSamModeForHardSam" value="false" />
    <!-- ISAM h/w details ignored if softsam -->
    

    <!-- Smart Card -->
    <setting key="SmartCardFunctionalityEnabled" value="true"/>
    <setting key="ScIpesToRead" value="2,14,16,22,23"/>
    <setting key="ScInhibitTyp2AutoScan" value="true" />	
    <setting key="ScIpesToWrite" value="2,14,16,22,23"/>
    <setting key="ScReadDelayMs" value="0"/>
    <setting key="ScFixOldCardTwoLogEntriesIssue" value="false"/>
    <setting key="ScFlashBothLedsWhileReading" value="true"/>
    <setting key="ScPrivateScheme22Behavior" value="false"/>
	  <setting key="ExtendedLoggingScOps" value="false" />
	  <setting key="ExtendedLoggingScMatching" value="false" />
    <setting key="ExtendedLoggingScRawContents" value="false" />
    <setting key="Typ22NonStandardTimeMethod2" value="false" />
    <setting key="Typ22FixNspWithExpiryDateSp" value="false" />
    <setting key="Typ22SetExpiryDateSpBeforeDebit" value="false" />
    <setting key="CheckForCardDelayOnSuccessMs" value="500"/>
	  <setting key="ScIpesToHide" value="0"/>
    <setting key="ScG2KTimeoutsMs" value="6000"/> <!-- defaults to: 2000, 6000 needed for EMV-->
    <setting key="ScStatusTimeoutMs" value="9000"/> 
    <setting key="ScG2KLoggingEnabled" value="false"/> 
    <setting key="G2KLoggingToNormalLogEnabled" value="false"/> 
    <setting key="G2KLoggingMultiFileEnabled" value="false"/>
    <setting key="G2KDeferredTraceEnabled" value="false"/>
    <setting key="G2KDeferredTraceSizeBytes" value="120000"/>
    <setting key="ScPps" value="0"/>
    <setting key="ScTopUpAllowStrPayment" value="false"/>
    <setting key="ScReinitEnabled" value="true"/>
    <setting key="ScReinitAlwaysPowerCycle" value="false"/>
    <setting key="Typ22TopUpToFirstUseModeEnabled" value="false"/>
    <setting key="ScTopUpAllowAddProduct" value="true"/>
    <setting key="ScAfterCreditTransactEnabled" value="false"/>
    <setting key="ScAlternativeResume" value="true"/>
	  <setting key="ItsoTyp2MaxCreditValue" value="0"/>	<!-- 0 means no limit -->
	  <setting key="ItsoTyp23MaxCreditTrips" value="255"/>
	  <setting key="ItsoTyp22MaxCreditPasses" value="63"/>
	  <setting key="ScAutoScanConfirmPayUIEnabled" value="false"/>
	  <setting key="ScFullLogOfFailedOperations" value="false"/>
	  <setting key="ItsoEnableDelete" value="false"/>
	  <setting key="ItsoAutoDeleteEmptyProducts" value="false"/>
	  <setting key="ItsoAction15Ignores6F44" value="false"/>
	  <setting key="ItsoSkipArn" value="true"/>
    <setting key="ItsoClass3DeleteOnInvalidCRC" value="false"/>


	  <!-- Connexionz-->
    <!-- Cannot be used if hardware SAM -->
    <setting key="ConnexionzEnabled" value="false" />
    <setting key="ConnexionzBaud" value="9600" />
    <setting key="ConnexionzInterval" value="30000" />

    <!-- Acis-->
    <setting key="AcisEnabled" value="false" />
    <setting key="AcisCOMPort" value="COM7:" />
    <setting key="AcisBaud" value="9600" />
    <setting key="AcisInterval" value="2000" />
    <setting key="AcisDataBits" value="8" />
    <setting key="AcisHandshake" value="None" />
    <setting key="AcisParity" value="None" />
    <setting key="AcisStopBits" value="One" />
    <setting key="AcisDeviceAddress" value="10" />
    <setting key="CheckIfAcisAlive" value="true" />
    <setting key="AcisImplementation" value="ACIS" />	<!-- ACIS, Trapeze -->
    <setting key="AcisDoCRC" value="true" />	
	  
    <setting key="UseExternalServiceCodeFor3rdPartyInterface" value="false" />	  


    <!--ITSO-->
    <setting key="ItsoVersion" value="V213"/>
    <setting key="ItsoTyp2WriteTtr" value="false"/>
    <setting key="ItsoEnableThirdDestination" value="true"/>
    <setting key="ItsoMaxFramesToParsePerSession" value="200"/> <!-- This started at 10k, but seen out of memory exceptions, so gone much more conservative.-->
    <setting key="ItsoMaxFilesToParsePerSession" value="10"/>  <!-- Because 0x060x msgs can contain a lot of frames, limit the number we go through in a short period, to limit the amount of memory used in one go.-->
    <setting key="ItsoFramesPerClass2Ack" value="10"/>  <!-- this could be increased when we see memory copes-->
    <setting key="ItsoStrNegativeBalanceBehaviour" value="Default"/> 
    <setting key="ItsoMaxUnsentRecordsAgeThresholdSeconds" value="600"/>
    <setting key="ItsoMaxUnsentRecordsCountThreshold" value="4"/>
    <setting key="Itso209MessageVersion" value="3"/>	  
    <setting key="ItsoPostClass3ResultMessage" value="true"/> <!-- temp setting - remove later when migration over -->
    <setting key="Itso209MessageIncludeFullSupplementalInfo" value="true"/>  
    <setting key="ItsoClass2ListIdChangeThreshold" value="50"/>  
    <setting key="ItsoIpePrecedenceMode" value="Standard"/>
    <setting key="ItsoIpePrecedenceOrder" value="14,16,22,23,2"/>
    <setting key="ItsoLocDefType" value="211"/>  	  
    <setting key="ItsoForceTestModeData" value="false"/>  	  
    <setting key="ItsoMaxRecordsPerClass1Batch" value="1000"/>  	  
    <setting key="ItsoMaxHoursBetweenClass1Batches" value="24"/>  	  
    <setting key="ItsoClass2BgProcessingEnabled" value="false"/>  	  
    <setting key="ItsoClass2FunctionalityEnabled" value="false"/>
    <setting key="ItsoClass2PopulateBatchSize" value="1000"/>
    <setting key="ItsoInhibitLocationPostParams" value="false"/>
    <setting key="ItsoInhibitPostParams" value="false"/>
    <setting key="ItsoWriteDirectToComms" value="true"/>
    <setting key="ItsoAutoSTRDebitEnabled" value="false"/>
    <setting key="ItsoTyp23TreatIssueDateAsValidityStart" value="false"/>
    <setting key="ItsoPostTransactionInformation" value=""/>
    <setting key="ItsoIsamSetSupportEnabled" value="false"/>
    <setting key="ItsoIsamSetA" value=""/>
    <setting key="ItsoIsamSetH" value=""/>
    <setting key="ItsoIsamV3Compatible" value="true"/>

    <setting key="IPEEXPWarnOnApproaching" value="false"/>
    <setting key="IPEEXPWarnDays" value="7"/>
    <setting key="IPEEXPWarnText" value="Please contact Customer Services&#xA;for details on how to renew&#xA;your product."/>
	  <setting key="IPEEXPTopUpWarnDays" value="28"/>
	  <setting key="IPEEXPTopUpWarnText" value="Warning, this product will expire on {0}. Make sure passenger will be able to use this top-up before that date."/>


    <!-- maintenance -->
    <setting key="WantMaintenanceBoot" value="false" />
    <setting key="MaintenanceBootDimSetting" value="5" />
    <setting key="MaintenanceBootSecondsForShutdown" value="180" />
    <setting key="MaintenanceBootTime" value="03:00" />
    <setting key="MaintenanceBootDurationMinSecs" value="7200" />  <!-- 2 hours-->
    <setting key="MaintenanceBootDbShrinkEnabled" value="false" />  <!-- disabled for now, can take very long on > 100mb dbs -->
	  <setting key="MaintenanceBootTimeCheckWindowMins" value="15" />
	  <setting key="MaintenanceBootDurationSecs" value="0" />

	  <setting key="EnableBSPUpdate" value="false" />

	  <setting key="UpdateCheckSignature" value="false" />

	  <!-- non-boot maintenance -->
    <setting key="MaintenanceNonBootEnabled" value="true" />
    <setting key="MaintenanceNonBootIterationDelaySecs" value="10" />
    

    <!-- annulling-->
    <setting key="AnnulSelectAllByDefault" value="true" />
    <setting key="MaxAnnulList" value="5" />
    <setting key="MaxAnnulTimeSecs" value="0" />  <!-- 0 = any time in trip-->
    <setting key="AnnulAllowReprint" value="false" />

    <!-- logging toggles-->
    <setting key="ExtendedLogging" value="false" />
    <setting key="ExtendedLoggingAvl" value="false" />
    <setting key="ExtendedLoggingSql" value="false" />
    <setting key="ExtendedLoggingSqlite" value="false" />
    <setting key="ExtendedLoggingClass2" value="false" />
    <setting key="ExtendedLoggingTrips" value="false" />
    <setting key="PerformanceLoggingEnabled" value="false" />
    <setting key="ExtendedLoggingDs2408" value="true" />
    <setting key="ExtendedLoggingPrinterBytes" value="false" />
    <setting key="ExtendedLoggingThreadPool" value="true" />    
    <setting key="ExtendedLoggingBootLauncher" value="false" />
    

    <!-- driver messaging -->
    <setting key="DriverMessagingEnabled" value="false" />	  
    <setting key="DriverMessageCheckPeriodMinutes" value="5" />
    <setting key="DriverMessagingNonSoap" value="true" />

    <!-- SC driver logon -->
    <setting key="SmartCardDriverLoginEnabled" value="false" />
    <setting key="SmartCardDutyStorageEnabled" value="true" />

	  <setting key="QRDutyStorageEnabled" value="false" />

	  <!-- pre FB3667, this was true. Can be removed and set to false once we're happy all operators' data is correct.-->
    <setting key="FareChartsAlwaysBeatFlatFares" value="true" />


    <!-- event sending -->
    <setting key="EventsLogSendCount" value="12" />
    <setting key="EventsLogSendTimeSecs" value="180" />
    <setting key="EventsLogSendEnabled" value="true" />

    <!-- defined in SD as well -->
  	<setting key="PingTimeout" value="15000" />
	
    <!-- VIM start -->
    <setting key="UseVehicleInMotionScreen" value="true" />
    <setting key="VehicleInMotionScreenShowUpcomingStopName" value="true" /> 
    <setting key="VehicleInMotionScreenShowUpcomingStopDriverInfo" value="true" />     
    <setting key="ScheduledAdherenceVimInfoEnabled" value="false" />

    <setting key="VehicleInMotionScreenAutoDismissEnabled" value="false" />
    <setting key="VehicleInMotionScreenAutoDismissThresholdSpeedKph" value="5" />
    <setting key="VehicleInMotionScreenAutoDismissThresholdTimeSecs" value="3" />
    
    <!-- VIM end -->
    
    <setting key="ShowDepartureCountdown" value="false" />  
    
    <setting key="OnlyUsePTPForDriverSA" value="false" />	  
	  
    <setting key="IncludeTerminusStageIfNeeded" value="false" />      
    
    <!-- misc -->
 	  <setting key="UpdateTicketValiditiesOnTime" value="true" />
    <setting key="CriticalErrorCountDownIdle" value="600" />
    <setting key="RtcWaitForReasonableTime" value="true" />
    <setting key="ServiceLoadingTimeout" value="12" />
	  <setting key="AVLDowntimeWarnPeriodMins" value="120" />
    <setting key="CommunicationsWarningTimeHours" value="72" />
    <setting key="SessionStatsSendTimeoutMins" value="30" />    
    <setting key="GCCollectThresholdMb" value="10" />
    <setting key="TestMode" value="false" />
    <setting key="InspectorPrintSC" value="false" />


    <!-- unmanned mode-->
    <setting key="UnmannedModeLoadTimeoutSecs" value="120" />
    <setting key="UnmannedModeDeviceOnlineRetriesSec" value="30" />    
    <setting key="UnmannedModeLoadFailRebootTimeoutSecs" value="-1" />
    <setting key="UnmannedModeResetAfterBootMaintenance" value="TurnOffWithTimedWake" />

    <!-- UI options -->
    <setting key="MoneySymbol" value="£"/>
    <setting key="SafetyChecksEnabled" value="true"/>
    <setting key="PlayTicketSound" value="false" />
    <setting key="IndicateTicketIssueOnFareButton" value="true" />
    <setting key="AutomaticLockTimeoutSeconds" value="0" />
    <setting key="StopChangeManualDebounceMs" value="-1" />    
    <setting key="StatusPopupEnabled" value="true" />
    <setting key="DutySelectionMode" value="AdHoc" />
    <setting key="DutyMode" value="Driver" />	  
    <setting key="UIMode" value="Driver" />
	  <setting key="ShowChangeVoucherButton" value="false" />
	  <setting key="HideChangeVoucherButtonOnAnnulScreen" value="false" />
    <setting key="MaxChangeVoucherValue" value="5000"/>
    <setting key="RepeatButtonEnabled" value="true" />
    <setting key="ResumeInterruptedTripWindowMins" value="0"/>
    <setting key="PromptToEndTrip" value="false" />
    <setting key="SmartCardIdentifierPrintedMaskLength" value="5" />

    <setting key="DutyActivity_CanClone" value="false"/>
    
    <setting key="PrintATU" value="true"/>
    <setting key="DutySummaryPrintCount" value="1"/>
	  <setting key="ChangeReceiptPrintCount" value="0"/>

    <!-- FB17358 -->
    <setting key="ButtonEnableMouseUpWorkaroundWhenClickOnDown" value="true"/>
    <setting key="ButtonClickOnMouseDown_HH" value="true"/>
    <setting key="ButtonClickOnMouseDown_TK200" value="true"/>
    <setting key="ButtonClickOnMouseDown_TK100" value="false"/>

    <setting key="VehicleLabelMode" value="VehReg"/>	  

    <!-- schedule adherence -->
    <setting key="ScheduleLateThreshold1Min" value="0.1" />
    <setting key="ScheduleLateThreshold2Min" value="1" />
    <setting key="TimeTable_Download_Duration_Days" value="0" />
    <setting key="TimeTable_Download_Threshold_Days" value="3" />
    <setting key="TimetableCheckPeriodMinutes" value="10" />
    <setting key="TimeTable_NextStop_Lag_Percent" value="0" />
    <setting key="ScheduledAdherenceTripStartEarlyThresholdSecs" value="300" />
    <setting key="ScheduledAdherenceLastNStopsDoNotStartAt" value="1" />
    <setting key="ScheduledAdherenceDisableSequenceCheck" value="false" />
    <setting key="ScheduledAdherenceDisableOldEventUpdate" value="true" />

	  
    <!--external displays-->
    <setting key="TDPPort" value="COM7:" />
    <setting key="TDPAddress" value="0" />
    <setting key="TDBBaud" value="9600" />
    <setting key="TDPDataBits" value="8" />
    <setting key="TDPHandshake" value="None" />
    <setting key="TDPParity" value="None" />
    <setting key="TDPStopBits" value="One" />

    <setting key="HanoverPort" value="COM7:" />
    <setting key="HanoverAddress" value="0" />
    <setting key="HanoverBaud" value="38400" />
    <setting key="HanoverDataBits" value="8" />
    <setting key="HanoverHandshake" value="None" />
    <setting key="HanoverParity" value="None" />
    <setting key="HanoverStopBits" value="One" />
    
    <!-- network -->
    <!-- .net default is 100. For shipping big data, we make larger -->
    <setting key="WsTimeoutSecs" value="300" />
    <setting key="WsUseKeepAlive" value="true" />
    <setting key="HTTPKeepAlive" value="true" />
    <setting key="HTTP11" value="false" />
    <setting key="RealTimeCommsTimeoutSecs" value="15" />
    <setting key="comms_pollrate" value="90000" />
    <setting key="jobpollrate_mins" value="30" />
    <setting key="CommsTimeoutSecs" value="180" />
    <setting key="CommsSendQueueDbPollSize" value="10" />
    <setting key="CommsSendQueueDbWarnSize" value="24" />
    <setting key="CommsBatchUpdateOldMessages" value="true" />
    <setting key="CommsUpdateOldAvlMsg" value="true" />
    <setting key="CommsMaxMessageSize" value="102400" />

    <setting key="CommsSecondaryEnabled" value="false" />
    <setting key="CommsSecondaryDirectory" value="\Storage Card\data\comms\" />
    <setting key="CommsSecondaryRollSizeKb" value="500" />
    
    <setting key="UseHttpClientForComms" value="true" />
    <setting key="UseHttpClientForPubs" value="true" />
    <setting key="ExtendedLoggingHttpClient" value="false" />
    <setting key="UseHttpClientForPing" value="true" />
    <setting key="StreamUploadsBiggerThan" value="10240000" />    

    <!-- reservation -->
	  <setting key="ReservationKind" value="None" />
	  <setting key="ReservationUrl" value="" />
	  <setting key="ReservationUser" value="" />
    <setting key="ReservationPassword" value="" />
    <setting key="ReservationLocation" value="" />
	  <setting key="ReservationTimeoutSec" value="60" />
	  <setting key="ReservationSkipConfirmation" value="true" />
	  <setting key="ReservationResultPopupTimeoutSec" value="10" />
	  <setting key="ReservationContentsPopupTimeoutSec" value="30" />
	  <setting key="ReservationCheckOnlineTimeoutSec" value="60" />
    
    
    <!-- auto trip options -->
    <setting key="Automatic_Driver_Type" value="None" />
    <setting key="Automatic_Vehicle_Type" value="None" />
    <setting key="Automatic_Duty_Type"  value="None" />
    <setting key="Automatic_Service_Type"  value="None" />
    <setting key="Automatic_DutyActivity_Type" value="None" />
    <setting key="Automatic_Journey_Type" value="None" />

    
    <!-- Ticket Issue Flow options -->
    <setting key="TicketIssueFlow_DriverMustChooseCandidate_Mandatory" value="true" />

    <!-- Imager -->
    <setting key="ImagerEnabled" value="false" />
    <setting key="ImagerAcceptedOperatorIntIds" value="" />
    <setting key="ImagerOperatorIntId" value="" />
    <setting key="QRPrintingEnabled" value="false" />
   

  </settings>
     
  <colours>
    <colour name="background" value="FFFFFF" />
    <colour name="button_background" value="000099"/>
    <colour name="button_selectbackground" value="FF0000"/>
    <colour name="button_text" value="FFFFFF" />
    <colour name="list_background" value="CFCFCF" />
    <colour name="list_selected" value="EBC164" />
    <colour name="toggle_selected_background" value="EBC164" />
    <colour name="list_text" value="000000" />
    <colour name="fare_x2_back" value="ACA4D0" />
    <colour name="fare_x2_fore" value="FFFFFF" />
    <colour name="fare_x3_back" value="79640B" />
    <colour name="fare_x3_fore" value="FFFFFF" />
    <colour name="fare_num_back" value="ACA4D0" />
    <colour name="fare_num_fore" value="000000" />
    <colour name="fare_button_back" value="ACA4D0" />
    <colour name="fare_button_fore" value="000000" />
    <colour name="signature_background" value="000077" />
    <colour name="signature_pen" value="FFFF00" />
    <colour name="routestop_to_background" value="000099" />
    <colour name="routestop_to_foreground" value="FFFFFF" />
    <colour name="routestop_from_background" value="000099" />
    <colour name="routestop_from_foreground" value="FFFFFF" />
    <colour name="routestop_bs_background" value="000099" />
    <colour name="routestop_bs_foreground " value="FFFFFF" />
    <colour name="issue_button_background" value="000099"/>
    <colour name="issue_button_selectbackground" value="FF0000"/>
    <colour name="issue_button_text" value="FFFFFF" />
    <colour name="alphanum_button_background" value="000099"/>
    <colour name="alphanum_button_selectbackground" value="FF0000"/>
    <colour name="alphanum_button_text" value="FFFFFF" />
    <colour name="formheader_background" value="333333" />
    <colour name="formheader_text" value="FFFFFF" />
    <colour name="unmanned_announcement" value="FFFF80" />    
  </colours>  
  </application>
  <log4net>

    <!-- Define some output appenders -->

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="/Storage Card/Logs/TM1/TM1.txt" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMddHH" />
      <maxSizeRollBackups value="50" />    <!--should never be reached, as we roll on date too-->
      <maximumFileSize value="250000" />   <!--keep in mind the zip of this needs to be uploaded in one go-->
      <rollingStyle value="Composite" />
      <staticLogFileName value="false" />
      <countDirection value="1" />  <!--we roll forward to make it less expensive-->

      <layout type="log4net.Layout.PatternLayout">
        <header value="[LogStart]&#13;&#10;"/>
        <footer value="[LogEnd]&#13;&#10;"/>
        <conversionPattern value="%property{eventDate} [%property{thread}] %-5level %property{appContext} - %message%newline" />
      </layout>
    </appender>
    

    <appender name="Debugger" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{eventDate} [%property{thread}] %-5level %property{appContext} - %message%newline" />
      </layout>
    </appender>

<!--
    <appender name="Serial" type="log4net.Appender.OutputDebugStringAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger  - %message%newline" />
      </layout>
    </appender>
-->

    <root>
      <level value="DEBUG" />
      <appender-ref ref="Debugger" />
<!--      <appender-ref ref="Serial" /> -->
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>


