<configuration><!-- this was downloaded --><configSections><section name="application" type="TM1.Configuration.ApplicationHandler, Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null " /></configSections><application locale="en-GB"><settings><setting key="RasConnection" value="O2" /></settings></application></configuration>